*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Maybe But Not Always', sans-serif;
}

.container{
    align-items:center;
    justify-content: center;
    background:#fff;
    display:flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 120%;
    max-width:900px;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 25%;
    margin-bottom: 10%;
}

.container h3{
    color:#b16c45;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top:20px;
    font-size: 40px;
}
.container p{
    font-size:20px;
    margin-bottom: 20px;
}
.homeIcon{
    width:90px;
    height:90px;
    margin:30px;
}