*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Kalam', cursive;
    color:#795b4a;
    background-color: #ffc99b;
                                             
}

/*Story CSS*/

.homeIcon{
    width:90px;
    height:90px;
    margin:30px;
}

.directions1{
    margin-left: 10%;
    margin-right: 10%;
}

.directions1 h1{
    text-align: center;
    font-size:20px;
    margin-top:30px;
}

.imgBox{
    display: flex;
    align-items: center; 
}

.imgBox h1{
    margin-right:130px;
    margin-left:30px;
}

.imgBox img{
    margin-right:20px;    
    width:200px;
    height:200px;
}

.imgBox1{
    display: flex;
    align-items: center; 
}

.imgBox1 img{
    margin:70px;
    width:300px;
    height:200px;
}

.imgBox2 img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#run{
    font-size:40px;
}

.choices{
    justify-content: space-evenly;
    display: flex;
    
}
#chooseTheWay{
    font-size:90px;
    margin-top:60px;
}
#needHelp{
    margin-bottom:60px;
}


/* Choices Button */
.choices button {
  appearance: button;
  background-color: #795b4a;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffc99b;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.choices button:after {
  background-clip: padding-box;
  background-color: #916e59;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.choices button:main,
.choices button:focus {
  user-select: auto;
}

.choices button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.choices button:disabled {
  cursor: auto;
}

.conArrow{
    margin-top:10px;
    float:right;
    width:400px;
    height: 200px;
}
#answer{
    font-size: 25px;
    text-align: center;
    margin:90px;

}